<div class="header"><button id="start-tour-button" (click)="startTour()">Start tour</button></div>
<div class="grid">
  <card id="card-1">
    <p>Test</p>
    <div id="step-1" style="width: 200px; height: 100px; background-color: rgba(255, 255, 255, 0.05);"></div>
  </card>
  <card id="card-2">
    <p>Test</p>
    <mat-select>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
      <mat-option>Option 1</mat-option>
    </mat-select>
  </card>
  <card id="card-3">
    <p>Test</p>
  </card>
  <card id="card-4">
    <p>Test</p>
  </card>
  <card id="card-5">
    <p>Test</p>
  </card>
  <card id="card-6">
    <p>Test</p>
  </card>
  <card id="card-7">
    <p>Test</p>
  </card>
  <card id="card-8">
    <p>Test</p>
  </card>
  <card id="card-9">
    <p>Test</p>
  </card>
  <card id="card-10">
    <p>Test</p>
  </card>
  <card id="card-11">
    <p>Test</p>
  </card>
  <card id="card-12">
    <p>Test</p>
  </card>
</div>