:host {
    outline: 500vw solid rgba(0, 0, 0, 0.55);
    position: absolute;
    transition: transform .4s ease, height .4s ease, width .4s ease;
}

.content-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    min-width: 400px;
    border-radius: 7px;
    transition: opacity .2s ease;
    padding-top: 20px;

    .close-button {
        position: absolute;
        top: 3px;
        right: 8px;
        background-color: transparent;
        border: 0;
        outline: none;
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    .content {
        padding: 10px;
        width: 100%;
        font-weight: 400;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.035);

        .steps {
            font-size: 0.8rem;
            font-weight: 600;
        }

        .step-button {
            background-color: #0277bd;
            border: none;
            color: #fff;
            padding: 6px 10px;
            border-radius: 4px;
            margin-right: 8px;

            &:last-of-type {
                margin-right: 0;
            }

            &:hover {
                cursor: pointer;
            }

            &.finish-button {
                background-color: rgb(56, 138, 90);
            }
        }
    }

    &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
    }

    &.right {
        left: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);

        &:before {
            left: -7px;
            top: 50%;
            transform: translateY(-50%);
            border: 0 solid transparent;
            border-top-width: 8px;
            border-bottom-width: 8px;
            border-right: 8px solid #fff;
        }
    }

    &.left {
        right: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);

        &:before {
            right: -7px;
            top: 50%;
            transform: translateY(-50%);
            border: 0 solid transparent;
            border-bottom-width: 8px;
            border-top-width: 8px;
            border-left: 8px solid #fff;
        }
    }

    &.top {
        left: 50%;
        bottom: calc(100% + 10px);
        transform: translateX(-50%);

        &:before {
            left: 50%;
            bottom: -7px;
            transform: translateX(-50%);
            border: 0 solid transparent;
            border-left-width: 8px;
            border-right-width: 8px;
            border-top: 8px solid #fff;
        }
    }

    &.bottom {
        left: 50%;
        top: calc(100% + 10px);
        transform: translateX(-50%);

        &:before {
            left: 50%;
            top: -7px;
            transform: translateX(-50%);
            border: 0 solid transparent;
            border-right-width: 8px;
            border-left-width: 8px;
            border-bottom: 8px solid #fff;
        }
    }
}