@import '~@angular/cdk/overlay-prebuilt.css';

html, body { 
    height: 100%;
    background-color: rgb(34, 28, 39);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #fff;}

*, *:after, *:before {
    box-sizing: border-box;
    outline: none;
}
